<h1>This is the sites show page</h1>
<%= link_to "Add Target", new_target_path(site_ids: @site.id) %>

<div class="targets uncontacted">
	<%= form_tag(client_site_path(@site.client, @site), method: :put) do %>
		<ul>
		<% @uncontacted_site_targets.each do |site_target| %>
			<li>
				<%= check_box_tag("targets[#{site_target.target_id}]") %>
				<%= label_tag("targets[#{site_target.target_id}]", link_to(site_target.target_name, site_target.target)) %>
			</li>
		<% end %>
		</ul>
		<%= submit_tag("Update Targets") %>
	<% end %>
</div>

<div class="targets contacted">
	<%= form_tag(client_site_path(@site.client, @site), method: :put) do %>
		<ul>
		<% @contacted_site_targets.each do |site_target| %>
			<li>
				<%= link_to(site_target.target_name, site_target.target) %>
				- <small>contacted on</small> <%= site_target.contacted.to_s(:long) %>

				<%= link_to(site_target.target_name, site_target.target) %>
			</li>
		<% end %>
		</ul>
		<%= submit_tag("Update") %>
	<% end %>
</div>

